import * as packageData from '../../package.json';

export const environment = {
  applicationName: 'CRUSOE Dashboard',
  production: true,
  version: packageData.version,
  baseUrl: '{{ baseUrlApi }}',
  flowerUrl: '{{ flowerUrlApi }}',
  tmpActApi: '{{ actApi }}',
  graphqlApi: '{{ graphqlApi }}',
  firewallApi: '{{ firewallApi }}',
};
